FLASK_ENV=development
FLASK_PORT=5001
FLASK_DEBUG=0
MODEL_PATH=ai/checkpoints/aihub/best.pth
MODEL_BACKBONE=densenet121
THRESHOLD_PATH=ai/checkpoints/aihub/thresholds.json
DATA_CSV=data/processed/DS14/train.csv
DEVICE=auto
GRADCAM_ALPHA=0.4
